#head{
    text-align: center;
}
#nav{
   text-align: center;


}
#nav ul{
    list-style-type: none;

}

#nav li{
    display: inline;

}
#nav a{
    color: black;
    border-bottom: none;
    text-decoration: none;
}